{% extends 'core/base.html' %} 
{% block content %}
<div class="max-w-md mx-auto p-6 bg-white rounded-lg shadow my-6">
  <h2 class="text-2xl font-bold mb-4 text-center">Changer le mot de passe</h2>

  <form method="post">
    {% csrf_token %} 
    {{ form.as_p }}

    <div class="flex justify-between mt-4">
      <a href="{% url 'profil' %}" class="text-blue-600 hover:underline"
        >Retour au profil</a
      >
      <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded-lg">
        Enregistrer
      </button>
    </div>
  </form>
</div>
{% endblock %}
