<!--
##################################
### ========================== ###
### ========= FORM.PY ======== ###
### ========================== ###
##################################

# class UserForm(forms.ModelForm) :
#     class Meta:
#         model = User
#         fields = ['first_name', 'last_name', 'email']
#         widgets = {
#             'first_name' : forms.TextInput(attrs={'class' : 'w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-gold focus:border-transparent'}),
#             'last_name' : forms.TextInput(attrs={'class' : 'w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-gold focus:border-transparent'}),
#             'email' : forms.EmailInput(attrs={'class' : 'w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-gold focus:border-transparent'}),
            
#         }


# class ProfilForm(forms.ModelForm) :
#     class Meta :
#         model = Profil
#         fields = ['photo', 'bio', 'telephone', 'promotion']
#         widgets = {
#             'bio' : forms.Textarea(attrs={'rows' : 3, 'class' : 'w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-gold focus:border-transparent'}),
#             'telephone' : forms.TextInput(attrs={'class' : 'w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-gold focus:border-transparent'}),
#             'photo' : forms.FileInput(attrs={'class' : 'w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-gold focus:border-transparent'}),
#             'promotion' : forms.Select(attrs={'class' : 'w-full px-3 py-2 border mb-6 border-gray-300 rounded-lg focus:ring-2 focus:ring-gold focus:border-transparent'})
#         }

#         def save(self, commit=True): 
#             username = self.cleaned_data['username']
#             email = self.cleaned_data['email']
#             full_name = self.cleaned_data['full_name']
#             promotion = self.cleaned_date['promotion']

#             import random, string
#             password = ''.join(random.choices(string.ascii_letters + string.digits, k=10))

#             user = User.objects.create_user(username=username, email=email, password=password)
#             profil = Profil.objects.create(user=user, full_name=full_name, promotion=promotion, role='etudiant')

#             print(f"Mot de passe pour {username} : {password}")

#             return profil 

##################################
### ========================== ###
### ========= FORM.PY ======== ###
### ========================== ###
##################################







##################################
### ========================== ###
### == Admin_Dashboard.html == ###
### ========================== ###
##################################



formulaire
<div class="grid md:grid-cols-2 gap-4 mb-4">
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-2"
            >Nom complet</label
          >
          <input
            type="text"
            required
            class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-gold focus:border-transparent"
          />
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-2"
            >Email</label
          >
          <input
            type="email"
            required
            class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-gold focus:border-transparent"
          />
        </div>
      </div>
      <div class="grid md:grid-cols-2 gap-4 mb-4">
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-2"
            >Promotion</label
          >
          <select
            required
            class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-gold focus:border-transparent"
          >
            <option value="">Sélectionner...</option>
            <option>1ère Année</option>
            <option>2ème Année</option>
            <option>3ème Année</option>
            <option>4ème Année</option>
            <option>5ème Année</option>
            <option>6ème Année</option>
          </select>
        </div>
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-2"
            >Date de naissance</label
          >
          <input
            type="date"
            required
            class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-gold focus:border-transparent"
          />
        </div>
      </div>
      <div class="mb-4">
        <label class="block text-sm font-medium text-gray-700 mb-2"
          >Téléphone</label
        >
        <input
          type="tel"
          class="w-full px-3 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-gold focus:border-transparent"
        />
      </div>
      <div class="flex justify-end space-x-4">
        <button
          type="button"
          onclick="closeModal('etudiantModal')"
          class="px-4 py-2 border border-gray-300 rounded-lg hover:bg-gray-50"
        >
          Annuler
        </button>
        <button
          type="submit"
          class="px-4 py-2 gradient-gold text-black rounded-lg font-medium"
        >
          Ajouter l'Étudiant
        </button>
      </div>




-->
